<h1>Edit new course</h1>
<br>
<form action="/courses/{{course.id}}/edit" method="post">
    <div class="input-field col s6">
        <input id="course_title" type="text" name="title" class="validate" value="{{course.title}}" required>
        <label for="course_title">Title</label>
        <span class="helper-text" data-error="Fill field" data-success="right">This field is required</span>
    </div>
    <br>
    <div class="input-field col s12">
        <textarea id="textarea2" class="materialize-textarea" data-length="120" name="desc">{{course.desc}}</textarea>
        <label for="textarea2">Textarea</label>
    </div>

    <button class="btn btn-primary">Edit course</button>
</form>