<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue part 2</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="app" >
        <input type="text" @keyup.enter="addTask" v-model="currentTask">
        <ul>
            <li v-for="task in tasks.slice().reverse()">
                <p :class="{'strike': task.isComplete}">{{task.text}}</p>
                <input type="checkbox" @click="task.isComplete = !task.isComplete">
                <input type="button" @click="removeTask(task.id)" value="delete">
                <input type="button" @click="changeTask(task.id)" value="change">
                <div v-if="task.isEditing">
                    <br>
                    <span class="memo">* - hit enter to add new item in list</span>
                    <br>
                    <p>Preview: <span>{{task.preview}}</span></p>
                    <input type="text" @keyup.enter="changeAllTask(task.preview, task)" v-model="task.preview">
                    <button @click="hideEditingFields(task)">&times</button>

                </div>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="app.js"></script>
</body>
</html>