
.main{
    text-align: center;
    font-family: 'Muli', sans-serif;
    margin-top: 15%;
    margin-bottom: 15%;
    animation: show  8s ease-in-out;
}
main:focus, input:focus{
    outline: none;
}

.main h1{
    color:#b758588c;
    text-transform: capitalize;
}
.main input{
    padding: 1%;
    border-radius: 10px;
    border: 2px solid #d2a8a7;
    background: none;
}

.main #button{
    padding: 1%;
    border: 0px;
    border-radius: 10px;
    background: #d09c9c;
    color: white;
    border: 2px solid #d09c9c;
    transition: 0.3s;
    outline:none;
}

.main #button:hover{
    border: 2px solid #d09c9c;
    transition: 0.3s;
    background: none;
    color: #d09c9c;
}

.delete-button{
    border: 0px;
    background: none;  
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #D09C9C;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #D09C9C;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.to-do-block{
    border: 2px solid #7DA67D;
    border-radius: 10px;
    padding: 2%;
    text-align: left;
    margin-top: 2%;
}
.prewie-block{
    border: 2px solid #7d97a6;
    border-radius: 10px;
    padding: 2%;
    text-align: left;
    margin-top: 5%;
    display: none;
}


/*Animation*/
@keyframes show {
    0% {opacity: 0%;}
    25% {opacity: 25%;}
    25% {opacity: 50%;}
    25% {opacity: 75%;}
    100% {opacity: 100%;}
}